@font-face {
  font-family: 'Poppins';
  src: url('Poppins.otf');
}

body {
  font-family: 'Poppins';
  background: #222;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 8vw;
  display: flex;
  align-items: center;
  background-color: #222;
}

header .logo {
  width: 40%;
  font-size: 1.4vw;
  margin: 0 4vw;
}

header .logo b {
  font-weight: 600;
}

header .logo .logo_char {
  font-weight: bold;
  background-color: rgb(5, 46, 82);
  text-align: center;
  height: 3.3vw;
  width: 3.3vw;
  border-radius: 50%;
  font-size: 1.4em;
  padding: 0.5%;
  margin-right: 1vw;
  box-sizing: border-box;
  display: inline-block;
}

header .nav {
  width: 60%;
  display: inline-block;
  list-style: none;
  text-align: right;
  margin-right: 5vw;
}

header .nav li a {
  text-decoration: none;
  color:  rgb(178, 178, 178);
}

header .nav li {
  display: inline-block;
  font-size: 0.94em;
  font-weight: bold;
  margin: 1.5vw;
  color: #888;
}

header .nav li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

main {
  margin: 0 5vw;
  flex: 1;
}

footer {
  background-color: #fff1;
  padding: 1.5vw;
  font-size: 1vw;
  font-weight: bold;
}

footer a {
  display: inline-block;
  margin: 0 2vw;
  text-decoration: none;
  color: #888;
}

footer div {
  display: inline-block;
  color: #F4433655;
  float: right;
}

section.career {
  border-radius: ;
}

section.career .profile_card {
  width: 50%;
  padding: 2vw;
  margin: 0 auto;
  margin-top: 5vw;
  text-align: center;
}

section.career .profile {
  display: inline-block;
  width: 50%;
  text-align: left;
}

section.career .profile_card .dp {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  text-align: right;
}

section.career .profile_card h1 {
  font-size: 3vw;
  color:  rgb(44, 99, 147);
}

section.career .profile_card h2 {
  font-size: 1.6vw;
  opacity: 0.2;
  letter-spacing: 0.4vw;
}

section.career .dp span {
  display: inline-block;
  width: 13vw;
  /*apprx. 200px*/
  height: 13vw;
  border-radius: 50%;
  overflow: hidden;
  border: 1vw solid  rgb(178, 178, 178);
  box-shadow: 0 0 1.5vw 0.1vw #000a;
}

section.career .dp img {
  width: 100%;
}

section.career p {
  margin: 0 20vw;
}

p {
  font-size: 1.1vw;
  color: #bbb;
  text-align: justify;
}

.container {
  padding: 1vw;
  margin: 5vw 0;
}

.container-right {
  width: 80%;
  padding: 1vw;
  margin: 1vw 0;
}



label.title {
  font-size: 1.5vw;
  font-weight: 800;
  border-bottom: 3px solid #fff2;
  margin-bottom: 10vw;
}

video {
  box-shadow: 0 0 1vw 1vw #0002;
  border-radius: 1.5vh;
  width: 50vw;
  height: 26vw;
  overflow: hidden;
  display: block;
  margin: 5vw auto;
  outline: none;
}

.container ul.blocks,
.container ul.lines {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container ul.blocks li {
  width: 40%;
}

.container ul.blocks li {
  padding: 2vw;
  font-size: 1vw;
  color: #aaa;
  margin: 1vw;
  background: #000;
  border-radius: 1vw;
}

.container ul.blocks li .icon {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.container ul.blocks li .mid {
  vertical-align: middle;
}

.container ul.blocks li .text {
  display: inline-block;
  width: 75%;
}

.container ul.lines li {
  width: 100%;
  display: block;
  padding: 2vw;
  font-size: 1vw;
  color: #aaa;
  border: 1px solid #333;
  border-radius: 0.5vw;
  margin: 1vw;
}

.container ul.lines li .year {
  padding: 0.5vw 1vw;
  margin: 1vw;
  font-size: 0.8vw;
  border: 0.2vw solid rgb(5, 46, 82);
  border-radius: 20px;
}

.container ul.lines li .text b {
  color: rgb(5, 46, 82);
}

.container-right {
  width: 40%;
  margin-top: 5vw;
  display: inline-block;
  vertical-align: top;
}

.container-left {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.container-right ul.block-line {
  list-style: none;
}

.container-right ul.block-line li {
  height: 3vw;
  margin: 2vw 0;
}

.container-right ul.block-line .icon-mid img {
  height: 100%;
  margin-right: 1vw;
  vertical-align: middle;
}

.container-right ul.block-line .text {
  font-size: 1vw;
}

.container-left form {
  margin: 3vw 0;
}

.container-left form input,
.container-left form textarea, .container-left form select{
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 2vw 0;
  padding: 1vw;
  background: none;
  border-radius: 0.4vw;
  border: 0.12vw solid #444;
  outline: none;
  color: #fff;
  font-family: 'Poppins';
}

.container-left form button {
  width: inherit;
  color: #fff;
  font-size: 0.9vw;
  background-color: #333;
  padding: 1vw 2vw;
  border: 0.2vw solid rgb(5, 46, 82);
  border-radius: 50px;
  box-shadow: 0 1vw 1vw 0.1vw #0004;
  cursor: pointer;
}

.container-left form button:hover{
  border: 0.2vw solid  rgb(178, 178, 178);
}
